<!DOCTYPE html>
<html lang="en">

<head>
    <title>BTOR - Thread</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="/styles/thread/styles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <div class="topbar">
        <div class="navbar">
            <a href="/">
                <h3 class="logo"><img src="/assets/logo.png" height="55"></h3>
            </a>
            <a href="/threads/new""><button class=" navBtn"><i class="fa fa-plus-square"></i> New thread</button></a>
            <a href="/settings"><button class="navBtn"><i class="fa fa-user-check"></i> <%=username%></button></a>
            <a href="/logout"><button class="navBtn"><i class="fa fa-user-times"></i> Sign out</button></a>
        </div>
        <hr>
    </div>
    <hr>
    <h5 id="title" class="title"><%=thread.title%></h5>
    <div id="comments">
        <% thread.comments.forEach((comment)=>{%>
        <div class="comment"><h3 class="author"><%=thread.usernames[comment.author]%>:</h3><%=comment.comment%><p class="comment-id">ID: <%=comment.comment_id%></p></div>
        <%})%>
    </div>
    <br>
    <div class="formContainer">
        <form id="commentForm">
            <label for="message">Comment:</label>
            <br>
            <textarea type="text" id="comment" required name="comment"></textarea>
            <br>
            <input type="submit" value="Comment">
        </form>
    </div>
    <script src="/scripts/thread/index.js"></script>
</body>

</html>