<!DOCTYPE html>
<html lang="en">

<head>
    <title>BTOR - Home</title>
    <link rel="manifest" href="/manifest.json">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="description" content="BTOR - The communication platform of the future">
    <meta name="theme-color" content="#8C52FF">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/pwa-icons/apple-icon.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/styles/homepage/styles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/assets/styles/navbar.css">
</head>

<body>

    <!-- Navbars -->
    <div class="topbar">
        <div class="navbar">
            <a href="/"><img src="/assets/logo.png" height="55" class="logo"></a>
            <a href="/threads/new" class="btnlink">
                <button class="navBtn topBtn"><i class="fa fa-plus-square"></i> New thread</button>
            </a>
            <a href="/settings" class="btnlink">
                <button class="navBtn topBtn"><i class="fa fa-user-cog"></i> <%=user.username%></button>
            </a>
            <a href="/logout" class="btnlink">
                <button class="navBtn topBtn"><i class="fa fa-user-times"></i> Sign out</button>
            </a>
            <button class="add-button navBtn computer"><i class="fa fa-plus-circle"></i> Install</button>
            <input type="search" placeholder="Search for threads" id="searchBar" class="searchBar">
        </div>
        <hr>
    </div>
    <section class="basic-grid bottombar navbar">
        <a href="/threads/new" class="card btnlink">
            <button class="navBtn bottomBtn"><i class="fa fa-plus-square"></i></button>
        </a>
        <a href="/settings" class="card btnlink">
            <button class="navBtn bottomBtn"><i class="fa fa-user-cog"></i> <%=user.username%></button>
        </a>
        <a href="/logout" class="card btnlink">
            <button class="navBtn bottomBtn"><i class="fa fa-user-times"></i></button>
        </a>
    </section>
    <!-- Navbars -->

    <img class="banner" src="/assets/banner.png">
    <div id="threads">
        <% body.threads.forEach((thread)=>{%>
        <div class="threadwrapper" id="<%=thread.id%>">
            <a href="/threads/<%=thread.id%>" class="threadLink" id="<%=thread.id%>-link">
                <div class="thread">
                    <div id="<%=thread.id%>-title" class="title" title="<%=thread.title%>">
                        <%=thread.title.trim()%>
                    </div>
                    by
                    <%=body.users[thread.author]['username']%><%-body.users[thread.author].permission === 'admin' ? ' <i class="fa fa-shield-alt admin" title="Admin"></i>' : ''%>
                    <br>
                </div>
            </a>
            <% if ((user.id === thread.author) || (user.permission === 'admin')) {%>
            <div class="two-grid actionbuttons hidden" id="<%=thread.id%>-editButtons">
                <button onclick="cancelEdit('<%=thread.id%>')">Cancel</button>
                <button onclick="saveEdit('<%=thread.id%>')">Save</button>
            </div>
            <div class="actions two-grid">
                <button title="Edit" onclick="editThread('<%=thread.id%>')">
                    <i class="fa fa-pencil-alt"></i>
                </button>
                <button title="Delete" onclick="deleteThread('<%=thread.id%>')">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
            <% } %>
        </div>
        <%})%>
    </div>
    <button class="add-button add-button-mobile mobile"><i class="fa fa-plus-circle"></i> Install</button>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/homepage/index.js"></script>
    <script src="/assets/scripts/pwaInstall.js"></script>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js')
            })
        }
        let user = {
            id: '<%=user.id%>',
            permission: '<%=user.permission%>'
        }
    </script>
</body>

</html>