<!DOCTYPE html>
<html lang="en">

<head>
    <title>BTOR - Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="/styles/homepage/styles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <div class="topbar">
        <div class="navbar">
            <a href="/">
                <h3 class="logo"><img src="/assets/logo.png" height="55"></h3>
            </a>
            <a href="/threads/new""><button class=" navBtn"><i class="fa fa-plus-square"></i> New thread</button></a>
            <a href="/settings"><button class="navBtn"><i class="fa fa-user-check"></i> <%=username%></button></a>
            <a href="/logout"><button class="navBtn"><i class="fa fa-user-times"></i> Sign out</button></a>
            <input type="search" placeholder="Search for threads" id="searchBar" class="searchBar">
        </div>
        <hr>
    </div>
    <img class="banner" src="/assets/banner.png" width="1920">
    <div id="threads">
        <% threads.threads.forEach((thread)=>{%>
        <a href="/threads/<%=thread.id%>" class="threadLink"><div class="thread"><span class="title"href="/threads/<%=thread.id%>"><%=thread.title.substring(0, 35)%><%=thread.title.length > 35 ? '...' : ''%></span> by <%=threads.usernames[thread.author]%></div></a>
        <%})%>
    </div>
    <script src="/scripts/homepage/index.js"></script>
</body>

</html>